* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
   
  
}
body {
    /* width: 1400px; */
    margin: 0 auto;
    
}

  .header-container {
    width: 940px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
}
.menu {
    display: flex;
    width: 485px;
    justify-content: space-between;
    list-style: none;
}
.name {
    text-decoration: none;
    font-family: 'Yellowtail', cursive;
    font-size: 26px;
    color: #fed136;
}
.item-name {
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #222222;
}
.item-name:hover {
    color: #fed136;
} 

.first-title {
margin-bottom: 80px;
font-family: "Montserrat", sans-serif;
margin-top: 125px;
}
.wrapper {
    width: 940px;
    margin: 0 auto;
}
.title1 {
 text-align: center;
 font-size: 40px;
 text-transform: uppercase;
 margin-bottom: 16px;
 font-family: "Montserrat" sans-serif;
 font-style: normal;
 font-weight: 800;  

}
.item-text {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-style: normal;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}
.first-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-style: italic;
    color: #c0c0c0;
}
.item-list {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 120px;
    font-family: "Montserrat", sans-serif;
}
.item {
    width: 290px;
    height: auto;
}
.h3-title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #222222;
}
.item:before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 73px;
    height: 73px;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin-bottom: 24px;
    
}
.h3-title1::before  {
    content: "";
    background-image: url(../img/icons/Icon-Basket.png);
     background-repeat: no-repeat;
    background-position: center;

}
.h3-title2:before  { 
    content: "";
    background-image: url(../img/icons/Icon-Laptop.png);
    background-repeat: no-repeat;
    background-position: center
} 
.h3-title3:before {
    content: "";
    background-image: url(../img/icons/Icon-Locked.png);
    background-repeat: no-repeat;
    background-position: center
} 



.footer-container {
    background-color: #222222 ;
    /* width: 100%; */
    background-image: url(../img/pictures/Map\ Image.png) ;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 120px;
    
}
.last-title {
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 24px;

}
.last-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #777777;
    font-style: italic;
    margin-bottom: 77px;
}
::placeholder {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #bbbbbb;
    font-weight: 700;
}
.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input {
    display: flex;
    flex-direction: column;
    width: 455px;
    height: 210px;
    margin-right: 30px;
}
.data-text {
    width: 455px;
    height: 210px;
}
.data-text-inf {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
}
.input-content {
    margin-bottom: 30px;
    width: 100%;
    padding: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.btn {
    margin-top: 30px;
    margin-bottom: 115px;
    padding: 25px 45px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background: #fed136;
    border-radius: 3px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.btn:hover {
    cursor: pointer;
}
input:valid,
data-text-inf:valid {
    outline-color: green;
}
input:invalid,
data-text-inf:invalid {
    outline-color: red;
}

.section {
    /* width: 100%; */
    background-color: #222222;
    /* position: absolute; */
}